body {
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background-size: cover;
    transition: 0.8ms;
}


a {
    color: black;
    text-decoration: none;
}

header {
    width: 100%;
    background-color: #FF700E;
    align-items: center;
    position: fixed;
    margin: 0px;
    z-index: 1;
}

h1 {
    margin-left: 100px;
}

h1 a {
    color: white;
    background-color: #FF700E;
    font-size: 28px;
}

header ul {
    text-decoration: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
    margin-right: 100px;
}

nav ul li a {
    margin: 15px;
    color: white;
    transition: 0.3s;
    font-weight: 500;
}


nav ul li a:hover {
    color: #192a4c;
}

.hero {
    font-size: 35px;
    color: white;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background: url(../image/Elias-main1.jpeg) center center no-repeat;
    background-size: cover;
    height: 87vh;
}

.hero h2 {
    background-color: #FF700E;
    width: 400px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 100px;
}

.hero h3 {
    margin-left: 100px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.hero h3 span {
    color: #FF700E;
}

#nepomuceno {
    font-style: italic;
    font-size: 50px;
    color: white;
    width: 255px;
    text-decoration: underline;
    text-decoration-color: #FF700E;
    margin-left: 100px;
}


.hero h4 {
    color: white;
    margin-left: 100px;
    margin-bottom: 0px;
    margin-top: 0px;
}


main h2 {
    color: #FF700E;
    font-size: 35px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 500;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    justify-content: center;
    justify-items: center;
    padding: 50px;
}

.cards img {
    width: 300px;
    border-radius: 10px;
}

.cards img:hover {
    opacity: 0.9;
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.card {
    text-align: baseline;
}

.card p {
    font-size: 15px;
}

.card h4 {
    font-size: 16px;
}

.fotos {
    display: grid;
    display: grid;
    grid-template-columns: repeat(5, 1fr)
}

.fotos img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.fotos img:hover {
    opacity: 0.9;
    -moz-transform: scale(1.04);
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
}

@media (max-width:768px) {
    .fotos {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media (max-width:425px) {
    .fotos {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
    }
}

.quem-sou {
    background-color: #192a4c;
    margin-bottom: 0px;
    color: white;
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(5, auto);
    gap: 10px;
    font-size: 20px;
}


.quem-sou h2 {
    text-align: center;
    font-size: 43px;
    font-weight: 800;
    color: #FF700E;
    grid-row: 1 / 1;
    grid-column: 1 / 6;
}

.quem-sou img{
    grid-row: 2 / 2;
    grid-column: 1 / 1;
    width: 400px;
    border-radius: 2px;
}

.quem-sou p {
    margin-bottom: 0px;
    grid-row: 2 / 0;
    grid-column: 2/ 5;
    margin-top: -15px;
}

#ola{
    font-size: 50px;
    font-weight: 600;
}

#primeiro-paragrafo{
    font-size: 20px;
    font-weight: 600;
    color: #FF700E;
}

#embaixo-foto{
    grid-row: 3 / 0;
    grid-column: 1/ 6;
    margin-top: -41px;
}

.movimentos{
    font-size: 20px;
    font-weight: 400;
}

#filiado{
    color: #FF700E;
    font-weight: 600;
}

.grupo{
    width: 100%;
    background: url(../image/Fundo-wpp.jpg) center center no-repeat;
    background-size: cover;
    height: 60vh;
    color: #192a4c;
    display: flex;
    flex-direction: column;
}

.texto-grupo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.grupo h2{
    margin-top: 0px;
}

.button-grupo {
    width: 245px;
    height: 60px;
    background-color: rgb(29, 187, 29);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-grupo a{
    color: white;
    font-weight: bolder;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

#whatsApp{
    font-size: 30px;
    font-weight: bolder;
}

.button-grupo:hover{
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

p::selection , h1::selection  , h2::selection  , h3::selection  ,h4::selection  , h5::selection , span::selection{
    background-color: #192a4c !important;
    color: white !important;
}

a::selection{
    background-color: #192a4c;
}
