@media (max-width:900px) {
    .header {
        position: relative;
    }

    .hero {
        max-width: 100%;
        font-size: 21px;
    }

    .hero h2 {
        width: 223px;
        margin-left: 48px;
        font-size: 30px;
        background-color: #FF700E;
    }

    #nepomuceno {
        margin-left: 48px;
        text-decoration: none;
        font-style: normal;
        background-color: #FF700E;
        width: 218px;
        font-size: 30px;
    }

}


@media (max-width:720px) {

    .hero {
        margin-top: 0px;
        max-width: 100%;
        font-size: 21px;
        background: url(../image/Elias-main2.jpeg) center center no-repeat;
        background-size: cover;
    }


    .hero h3 {
        margin-top: 2px;
        margin-left: 48px;
    }

    .hero h2 {
        width: 225px;
        font-size: 30px;
        margin-left: 0px;
    }

    .hero h4 {
        width: 300px;
        margin-left: 48px;
        font-size: 21px;
    }

    #nepomuceno {
        margin-left: 0px;
        font-size: 30px;
    }

    .quem-sou {
        display: block;
        height: 89vh;
    }

    .quem-sou img {
        margin: 0 auto;
        width: 100%;
    }

    .quem-sou img {
        max-width: 100%;
    }

    

}

@media (max-width:430px) {
    .header h1 a {
        font-size: 20px;
    }

    .header h1 {
        margin-left: 5px;
        margin-top: 11px;
    }

    .hero {
        font-size: 20px;
        display: block;
        max-width: 100%;
    }

    .hero h3 {
        font-size: 15px;
        margin-left: 10px;
        width: 100px;
    }

    .hero h2 {
        width: 112px;
        font-size: 15px;
        margin-top: 0px;
    }

    .hero h4 {
        width: 95px;
        margin-left: 10px;
        font-size: 12px;
    }

    #nepomuceno {
        font-size: 15px;
        margin-left: 0px;
        background-color: #FF700E;
        width: 110px;
    }

    .button-grupo {
        width: 137px;
        height: 38px;
    }

    .button-grupo a {
        font-size: 12px;
    }

    .grupo {
        font-size: 12px;
        text-align: center;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(236px, 1fr));
    }

    .cards img {
        width: 150px;
    }

    .quem-sou h2 {
        padding-top: 20px;
        font-size: 16px;
    }

    .quem-sou img {
        width: 150px;
        align-items: center;
    }

    #ola {
        font-size: 28px;
        padding-top: 10px;
    }

    #primeiro-paragrafo {
        font-size: 12px;
    }

    #embaixo-foto{
        width: -10px;
    }

    .quem-sou p {
        font-size: 10px;
    }

}

@media (max-width:290px) {
    .movimentos img {
        width: 250px;
    }

    .cards img {
        width: 104px;
    }

    .cards {
        align-items: center;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .header nav {
        right: 6px;
    }

    .header h1 a {
        font-size: 16px;
    }

    .grupo h2 {
        font-size: 10px;
    }

    #whatsApp {
        font-size: 10px;
    }

    .button-grupo {
        font-size: 10px;
        width: 125px;
        height: 32px;
        padding-bottom: 7px;
    }
}