@media (max-width:900px) {
    .hero {
        max-width: 100%;
        font-size: 21px;
    }

    .hero h2 {
        width: 223px;
        margin-left: 48px;
        font-size: 30px;
    }

    #nepomuceno {
        margin-left: 48px;
        text-decoration: none;
        font-style: normal;
        background-color: #FF700E;
        width: 218px;
        font-size: 30px;
    }

}


@media (max-width:720px) {

    header {
        position: sticky;
        max-width: 100%;
    }

    .hero {
        margin-top: 0px;
        max-width: 100%;
        background: url(../image/Elias-main2.jpeg) center center no-repeat;
        background-size: cover;
        font-size: 21px;
    }


    .hero h3 {
        margin-top: 2px;
        margin-left: 48px;
    }

    .hero h2 {
        width: 225px;
        font-size: 30px;
        margin-left: 0px;
    }

    .hero h4 {
        width: 300px;
        margin-left: 48px;
        font-size: 21px;
    }

    #nepomuceno {
        margin-left: 0px;
        font-size: 30px;
    }

    main {
        max-width: 700px;
    }

}

@media (max-width:430px) {
    .header h1 {
        margin-left: 34px;
    }

    .hero {
        font-size: 20px;
        display: block;
    }

    .hero h3 {
        margin-left: 10px;
    }

    .hero h2 {
        width: 179px;
        font-size: 24px;
        margin-top: 60px;
    }

    .hero h4 {
        margin-left: 10px;
    }

    #nepomuceno {
        font-size: 24px;
        margin-left: 0px;
        background-color: #FF700E;
        width: 172px;
    }

}